.header {
	height: 7vh;
	width: 100%;
	background-color: $colorPrimary;
	padding: 0 10px;
	&-title {
		@include setFonts(700);
		color: $colorLight;
		height: 100%;
		display: flex;
		align-items: center;
		margin: 0 auto;
	}
}
