$sizeScreenEl: 1200px;
$sizeWindowEl: 1140px;
$sizeScreenL: 992px;
$sizeWindowL: 960px;
$sizeScreenM: 768px;
$sizeWindowM: 720px;
$sizeScreenS: 576px;
$sizeWindowS: 540px;

$colorPrimary: #007bff;
$colorSuccess: #28a745;
$colorDanger: #dc3545;
$colorWarning: #ffc107;
$colorSecondary: #6c757d;
$colorDark: #343a40;
$colorLight: #f8f9fa;
$colorWhite: #ffffff;

$fontTitleEl: 36px;
$fontTitleL: 32px;
$fontTitleM: 28px;
$fontTitleS: 20px;

$fontEl: 20px;
$fontL: 18px;
$fontM: 16px;
$fontS: 14px;
$fontEs: 12px;
